<%- include('../partials/header') %>

<hr>
<div class="row col-xs-8 col-xs-offset-2">
  <% if (bookData) { %>
    <% bookData.items.forEach((b) => { %>

    <p name=“title”><%= b.volumeInfo.title %></p>
    <% }) %>

  <% } else { %>
    <h3 class="text-center text-info">
      Submit a Book Title!
    </h3>
  <% } %>
</div>

<%- include('../partials/footer') %>