</main>
</body>
<footer id="footer" class="navbar is-fixed-bottom">
    <div class="content has-text-centered">
      <p>
        <strong>Dream Read</strong> by <a href="https://github.com/habieber" target="_blank">Holly Bieber</a>.
        <a href="https://github.com/habieber" target="_blank">
            <span class="icon is-large">
            <i class="fa-brands fa-square-github"></i>
            </span>
        </a>
        <a href="https://www.linkedin.com/in/holly-bieber/" target="_blank">
            <span class="icon is-large">
            <i class="fa-brands fa-linkedin"></i>
            </span>
        </a>
        <a href="mailto:habieber@gmail.com">
            <span class="icon is-large">
            <i class="fa-solid fa-square-envelope"></i>
            </span>
        </a>
      </p>
    </div>
  </footer>
</html>