<%- include('./partials/header') %>

<p>In a perfect world, we would read all the books we want, right when we want to read them.</p><br>

<p>Unfortunately, we have to do other things, like work jobs and meet our basic human needs, so our dream reading lists grow.</p><br>
  
  <p>Dream Read is a space to hold onto the hope that you’ll eventually read that book your therapist recommended two years ago AND keep up with your book club’s agenda.</p><br>
  
  <p>Organize that TBR list so that you feel like you’re doing something with it!</p>

<%- include('./partials/footer') %>