@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #322f35;
  max-width: 100%;
}

html {
  background-color: #d3c9d8;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  background-color: #d3c9d8;
  max-width: 100%;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d3c9d8;
  padding: 20px;
}

main {
  background-color: #d3c9d8;
}

.table {
  background-color: #d3c9d8;;
}

#show-page {
  line-height: 0.5rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#title {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.navbar {
  background-color: #ae91bf;
}

.book-title {
  font-weight: bold;
  font-size: large;
}

#edit-comment {
  background-color: transparent;
}

#priority {
  gap: 2rem;
}

#bookmark-icon:hover {
  background-color: black;
}

.has-text-centered {
  padding-bottom: 1.5rem;
}

.navbar-brand {
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  letter-spacing: .5rem;
}

.navbar-menu {
  background-color: #ae91bf;
}

.table-container {
  overflow-wrap: break-word;
  max-width: 100%;
}

@media screen and (max-wdith: 1023px) {
  .navbar-menu {
    display: visible;
    background-color: #ae91bf;
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
    padding: 0.5rem 0;
  }
}
