@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #322f35;
  max-width: 100%;
}

.background-image {
  overflow: auto;
  position: relative;
}

.background-image::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: block;
  background-image: url("https://media.istockphoto.com/id/1085770318/photo/wooden-brown-books-shelves-with-a-lamp.jpg?s=612x612&w=0&k=20&c=lmEO_bnmL8uv2u-1OrSfDQ1lVkxGROJ3HzO-JjDu9c0=");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.3;
  z-index: -1;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  max-width: 100%;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 6;
}

.table {
  background-color: #d3c9d8;;
}

#show-page {
  line-height: 0.5rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#title {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.navbar, .navbar-menu {
  background-color:  #b8a3c2;
}

.book-title {
  font-weight: bold;
  font-size: large;
}

#edit-comment {
  background-color: transparent;
}

#priority {
  gap: 2rem;
}

#bookmark-icon {
  border: transparent;
  background-color: transparent;
}

#bookmark-icon:hover {
  background-color: white;
}

.has-text-centered {
  padding-bottom: 1.5rem;
}

.navbar-brand {
  align-items: center;
  justify-content: center;
  letter-spacing: .5rem;
}

.table-container {
  overflow-wrap: break-word;
  max-width: 100%;
}

.table {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

#bookshelf {
  border-radius: 3%;
}

#footer {
  justify-content: end;
}

#delete-book-btn {
  align-items: center;
  text-align: center;
}

.home-container {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(211, 201, 216, .8);
  border-radius: 5%;
  padding: 1rem;
}

#search-bar {
  padding: 1rem;
}

p {
  font-size: 1.1rem;
}

@media screen and (max-wdith: 1023px) {
  .navbar-menu {
    display: visible;
    background-color: #ae91bf;
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
    padding: 0.5rem 0;
  }
}
